<div class="splash-screen">
  <%= image_tag ("/assets/logo.PNG"), class: "logo-img"%>
  <ul class="registration-buttons">
    <li><%= link_to 'LOG IN', new_user_session_path, class: 'login-btn' %></li> 
    <li><%= link_to 'SIGN UP', new_user_registration_path, class: 'signup-btn' %></li> 
  </ul>
</div>