/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
  --background: #f5f6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  color: var(--text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:visited {
  color: var(--text);
}
