

<div class="category-card" id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p>
    <strong>Total amount of all transactions:</strong>
    <%= total_amount(category.expenses) %>
  </p>

</div>
