<div class="category-form">

<%= render "layouts/header_back_categories", title: 'EDITING CATEGORY' %>

<%= render "form", category: @category %>

</div>
<%# <div> %>
  <%#= link_to "Show this category", @category %>
  <%#= link_to "Back to categories", categories_path %>
<%# </div> %>
