<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <% if can? :manage, category %>
      <%= render category %>
      <p>
        <%= link_to "Show this category", category %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
