<div class="expenses">
  <div>
    <%= render "layouts/header_back_categories", title: 'EXPENSES' %>

    <%= render "category_show", category: @category %>
  </div>
  <div class="expenses-list">
  <% @category.expenses.order('created_at DESC').each do |expense| %>
    <%= render expense %>
  <% end %>
  </div>

  <%= link_to "New Expense", new_category_expense_path(@category) %>
</div>

<%# <div> %>
  <%#= link_to "Edit this category", edit_category_path(@category) %>
  <%#= link_to "Back to categories", categories_path %>

  <%#= button_to "Destroy this category", @category, method: :delete %>
<%# </div> %>
