<div id="<%= dom_id expense %>">
  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.created_at.strftime("%e %b %y") %>
  </p>

  

</div>
