<div class="navbar">
  <h1>BudgetApp</h1>
  <ul>
    <li class="nav-link"><%= link_to 'Categories', root_path%></li>
        <li class="nav-link"><%= link_to 'Expenses', expenses_path %></li>
  </ul>
</div>