<div class="navbar">
  <h1>BudgetApp</h1>
  <ul>
    <li class="nav-link"><%= link_to 'Categories', root_path%></li>
    <li class="nav-link"><%= link_to 'Expenses', expenses_path %></li>
    <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign-out' %></li>
  </ul>
</div>